/* your styles go here */
.box-custom {
    background: #fff;
    margin: 50px 0 30px;
    border: solid 1px #e6e6e6;
    padding: 30px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#top-custom {
    background: #555;
    padding: 20px 0;
}

.main-header{
  text-align: center;
}

.card-body-custom {
  padding: 1.25rem;
}

.force-scroll {
  overflow-y: scroll;
  height: 350px;
}

.force-scroll-estilos {
  overflow-y: scroll;
  height: 700px;
}

.fit-image{
  width: 50px;
  object-fit: cover;
}

.fit-logo{
  height: 150px;
}

/* Estilos para la tabla pdf*/
#reporte {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#reporte td, #reporte th {
  border: 1px solid #ddd;
  padding: 8px;
}

#reporte tr:nth-child(even){background-color: #f2f2f2;}

#reporte tr:hover {background-color: #ddd;}

#reporte th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #617cd4;
  color: white;
}
