/* your styles go here */
.box-custom {
    background: #fff;
    margin: 50px 0 30px;
    border: solid 1px #e6e6e6;
    padding: 30px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#top-custom {
    background: #555;
    padding: 20px 0;
}

.main-header{
  text-align: center;
}

.card-body-custom {
  padding: 1.25rem;
}

.force-scroll {
  overflow-y: scroll;
  height: 350px;
}

.force-scroll-estilos {
  overflow-y: scroll;
  height: 500px;
}

.fit-image{
  width: 50px;
  object-fit: cover;
}